.navbarjs{
   background-color: #1F1E1D;
   overflow-x: hidden;
}
.navbarjs::-webkit-scrollbar, .navbarjs .left-lower::-webkit-scrollbar, .navbarjs .right::-webkit-scrollbar{
   display: none;
}
@media(max-width: 768px){
   .navbarjs .hidden-in-mob{
      display: none;
   }
}
.navbarjs .left-upper{
   margin-top: -50px;
   text-align: center;
   height: 55vh;
   width: 25%;
   position: fixed;
   /* background-color: black; */
   color: white;
}
.navbarjs .left-lower{
   position: fixed;
   overflow: scroll;
   width: 25%;
   height: 50vh;
   /* background-color: black; */
   color: white;
   margin-top: 0;
   padding-bottom: 30px;
}
.navbarjs .notifications{
   height: 60px;
   width: 90%;
   margin-left: 5%;
   margin-bottom: 10px;
   border: 1px solid white;
   border-radius: 10px;
   padding: 3px 10px 3px 10px;
   text-align: left;
}
.navbarjs .wall{
   height: 130px;
   width: 100%;
   margin-top: 40px;
}
.navbarjs .logo{
   width: 40%;
   height: 35%;
   margin-top: -50px;
   margin-bottom: 10px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.5);
   background-color: green;
}
.navbarjs .right{
   height: 92.5vh;
   position: fixed;
   overflow-y: scroll;
   /* background-color: black; */
   width: 25%;
   color: white;
   margin-top: -5px;
   padding-top: 20px;
   padding-bottom: 0;
}
.navbarjs .right .contact{
   height: 60px;
   width: 90%;
   margin-left: 5%;
   margin-bottom: 10px;
   border: 1px solid white;
   border-radius: 10px;
   padding: 1px 10px 3px 10px;
}
.navbarjs .contact-img{
   height: 50px;
}
.navbarjs .create-post{
   width: 100%;
   border: 1px solid black;
   margin-bottom: 20px;
   border-radius: 15px;
   background-color: blanchedalmond;
   padding-bottom: 10px;
   /* margin: auto;
   height: 200px; */
}
.navbarjs .post{
   width: 100%;
   border: 1px solid black;
   border-radius: 15px;
   margin-bottom: 20px;
   background-color: blanchedalmond;
   padding-bottom: 15px;
}

.navbarjs .desp{
   margin-top: 20px;
}

.navbarjs .logo-img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid black;
   margin: 10px 5px 0 20px;
   float: left;

}
.navbarjs .post-img{
   width: 96%;
   margin: 0 2% 15px 2%;
   border-radius: 10px;

}
.navbarjs .post-text{
   font-weight: 500;
   padding: 15px;
   padding-bottom: 0;
   text-align: justify;
}
.navbarjs .report{
   float: right;
   margin-top: 10px;
   margin-right: 20px;
   border: none;
   padding: none;
   height: 50px;
   width: 50px;
   background-color: transparent;
}
.navbarjs .like{
   float: left;
   margin-left: 20px;
   margin-bottom: 20px;
   margin-right: 5px;
   border: none;
   background-color: transparent;
}
.navbarjs .no-of-likes{
   margin-right: 10px;
   font-weight: 600;
}
.navbarjs .no-of-comments{
   margin-left: 5px;
   font-weight: 600;
}
.navbarjs .comment{
   border-radius: 10px;
   border: 1px solid black;
   width: 73%;
   height: 30px;
   padding-left: 20px;
}
.navbarjs .comment-by-others{
   width: 86%;
   margin: 0 7% 0 7%;
   margin-bottom: 10px;
   background-color: rgb(214, 214, 206);
   padding: 10px;
   border-radius: 10px;
}
.navbarjs .comment-img{
   width: 40px;
   height: 40px;
   float: left;
   border: 1px solid black;
   border-radius: 50%;
   margin-right: 10px;
}
.navbarjs .commentor{
   font-weight: 700;
}
.navbarjs .file-input{
   /* opacity: 0; */
   /* width: 0.1px;
   height: 0.1px; */
   /* position: absolute; */
   margin-bottom: 10px;
}
.navbarjs .user-create-post{
   height: 80px;
   width: 80px;
   border: 1px solid black;
   border-radius: 50%;
   padding: 2px;
   background-color: green;
   margin: 5px 10px 5px 10px;
   float: left;
}

textarea#textarea{
   margin: 10px 0 0 -5px;
   padding: 8px;
   width: 70%;
   border-radius: 15px;
}

/* .navbarjs .leffloat{
   float: left;
   width: 60%;
}

.navbarjs .rigfloat{
   float: right;
   width: 30%;
} */

.navbarjs .svg-pos{
   margin: 3px 20px auto auto;
}

.navbarjs .extreme-right{
   text-align: right;
   margin-right: 10px;
}

.navbarjs .submit-button{
   height: 30px;
   width: 50px;
   background-color: transparent;
   border: 1px solid black;
   border-radius: 5px;
}

/* Media Queries */
@media(max-width: 768px){
   .navbarjs .submit-button,
   .navbarjs .extreme-right{
      position: relative;
      left: 80px;
      margin: 2px;
   }
}