@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
@import url('https://use.typekit.net/okp3znm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif; 
    color: #FFF;
    background-color: #1E1A1B;
}

body ::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}

body ::-webkit-scrollbar-thumb {
    background: #FFB924;
    border-radius: 11px; 
}

body ::-webkit-scrollbar-thumb:hover {
    background: #C28400; 
}

body ::-webkit-scrollbar-track {
    background-color: #1E1A1B;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0; 
}
